.side-nav {
  background-color: white;
  width: 28rem;
  position: fixed !important;
  /* right: 50% !important;
  transform: translateX(45rem) !important;
  transition: ease-out 0.6s, !important; */
  /* transition: -webkit-transform 0.3s ease-out 0s; */
  opacity: 0;
  overflow: hidden !important;
  /* transition: ease-out; */
}

.side-nav.active {
    opacity: 1;
    background-color: white;
    width: 28rem;
    position: fixed !important;
    /* right: 50% !important;
    transform: translateX(18rem) !important; */
  overflow: hidden !important;

  /* transition: -webkit-transform 0.3s ease-out 0s; */
}
