// $swiperPaginationFraction: 'swiper-pagination-fraction';
// $swiperPaginationCustom: 'swiper-pagination-custom';
// $swiperContainerHorizontal: 'swiper-container-horizontal';
// $swiperPaginationBullets: 'swiper-pagination-bullets';

// .#{$swiperPaginationFraction},
// .#{$swiperPaginationCustom},
// .#{$swiperContainerHorizontal} > .#{$swiperPaginationBulletsDisabled} {
//   bottom: 10px;
//   left: 0;
//   width: 100%;
// }

// .#{$swiperPaginationBullets} {
//   bottom: 145px;
//   left: 0;
//   width: 100%;
// }

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 145px;
  left: 0;
  width: 100%;
}
