// Pagination
:root {
  --swiper-theme-color: #ff9425;
}

.tutorial {
  padding: 0 0 4rem;
  height: fit-content;
}

.category {
  padding: 0.1rem 0 0 0;
  touch-action: none;
}

.swiper-slide {
  width: 5rem;
}
