* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-trigger {
  background: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  margin-left: auto;
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menu-trigger img {
  border-radius: 90px;
}

.menu {
  width: 100%;
  background: #ffffff;
  position: absolute;
  top: 60px;
  /* right: 0; */
  /* margin: 0 8.2rem 0 0; */
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

@media all and (min-width: 415px) {
  .menu {
    max-width: 36rem !important;
  }
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

@media all and (min-width: 415px) {
  .menu.active {
    max-width: 36rem !important;
  }
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}

.placeholder show {
  font-size: 1.2rem;
}

/* date picker calender */
.react-datepicker__header {
  background-color: #ffffff !important;
  border-bottom: 1px solid #ebe9e8 !important;
}

.sunday {
  color: rgb(255, 0, 0) !important;
}

/* date picker time */
.time-box {
  width: 20rem !important;
  height: 33rem !important;
  border-radius: 1.2rem !important;
}
.react-datepicker__time-list::-webkit-scrollbar {
  display: none !important;
}

.react-datepicker__header--time--only {
  border-top-left-radius: 1.2rem !important;
  border-top-right-radius: 1.2rem !important;
  padding: 1.6rem 0 0.8rem !important;
}

.react-datepicker-time__header {
  color: #36373c !important;
  font-size: 1.6rem !important;
}

.react-datepicker__time-list-item--selected {
  background-color: #fff0e1 !important;
  color: #ff9425 !important;
}

.react-datepicker__time-container {
  width: 100%;
}

.react-datepicker__time-box {
  width: 100% !important;
}

.react-datepicker__time {
  border-bottom-left-radius: 1.2rem !important;
  border-bottom-right-radius: 1.2rem !important;
}

.react-datepicker__time-list {
  height: calc(28rem + (1.7rem / 2)) !important;
}

.react-datepicker__time-list-item {
  height: auto !important;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.5rem 0 !important;
  margin: 0.8rem;
}
.react-datepicker__time-list-item:hover {
  background-color: #fff0e1 !important;
  color: #ff9425;
}

/* Main 구글 폼 이동 버튼 모달 */
.link-container {
  position: fixed;
  z-index: 50;
}

.link-trigger {
  background: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  margin-left: auto;
}

.link-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.link-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.link-trigger img {
  border-radius: 90px;
}

.link {
  max-width: 36rem;
  width: fit-content;
  height: fit-content;
  background: #ffffff;
  position: fixed;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(1rem);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  z-index: 10;
  visibility: hidden;
  border-radius: 1.2rem;
  padding: 1.5rem;
}

.link:after {
  /*말풍선 꼭지*/
  bottom: -0.9rem; /*말풍선꼭지위치 위아래*/
  right: 8%; /*말풍선위치 좌우*/
  border: solid transparent;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none;
  border-color: #fff transparent transparent transparent; /*말풍선 꼭지방향*/
  border-width: 0.5rem; /*말풍선 꼭지 사이즈*/
  margin-left: -0.5rem; /*말풍선 상세위치 조정*/
}

.link.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 280px) {
  .link {
    margin: 0 0 0 7.5rem;
  }
  .link.active {
    max-width: fit-content !important;
    margin: 0 0 0 7.5rem;
    padding: 1.5rem;
  }
  .link-container {
    margin: 0 0 0 1.1rem;
  }
}
@media all and (min-width: 415px) {
  .link {
    margin: 0 0 0 6.8rem;
  }
  .link.active {
    max-width: fit-content !important;
    margin: 0 0 0 6.8rem;
  }
  .link-container {
    margin: 0 0 0 1.8rem;
  }
}
@media all and (min-width: 721px) {
  .link {
    margin: 0 0 0 5.9rem;
  }
  .link.active {
    max-width: fit-content !important;
    margin: 0 0 0 5.9rem;
  }
  .link-container {
    margin: 0 0 0 2.5rem;
  }
}

.link ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link li {
  border-bottom: 1px solid #dddddd;
}

.link li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}