button {
    border-radius: 1.2rem !important;
    /* width: 12rem; */
    height: 4.4rem;
}

.border {
    border-radius: 1.2rem !important;
    max-width: 26.4rem;
}

.confirmButton {
    width: 100% !important;
}