/* @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css); */

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 300;
  src: local("Spoqa Han Sans Neo Light"),
    url("../src/styles/fonts/SpoqaHanSansNeo-Light.woff2") format("woff2"),
    url("../src/styles/fonts/SpoqaHanSansNeo-Light.woff") format("woff"),
    url("../src/styles/fonts/SpoqaHanSansNeo-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 400;
  src: local("Spoqa Han Sans Regular"),
    url("../src/styles/fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2"),
    url("../src/styles/fonts/SpoqaHanSansNeo-Regular.woff") format("woff"),
    url("../src/styles/fonts/SpoqaHanSansNeo-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 500;
  src: local("Spoqa Han Sans Medium"),
    url("../src/styles/fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2"),
    url("../src/styles/fonts/SpoqaHanSansNeo-Medium.woff") format("woff"),
    url("../src/styles/fonts/SpoqaHanSansNeo-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 700;
  src: local("Spoqa Han Sans Bold"),
    url("../src/styles/fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2"),
    url("../src/styles/fonts/SpoqaHanSansNeo-Bold.woff") format("woff"),
    url("../src/styles/fonts/SpoqaHanSansNeo-Bold.ttf") format("truetype");
  font-display: swap;
}
body {
  /* overflow-y, -webkit-overflow-scrolling 추가 */
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  min-width: 250px;
  background-color: "#f5f6fa";
  margin: 0;
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  scroll-snap-type: none;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: "Spoqa Han Sans Neo", "source-code-pro", "Menlo", "Monaco",
    "Consolas", "Courier New", monospace;
}

html {
  position: relative;
  overflow-x: hidden;
  font-size: 62.5%;
}

/* 모바일 기종 별 뷰 설정 */
@media all and (min-width: 800px) {
  html {
    position: relative;
    overflow-x: hidden;
    font-size: 91%;
  }
}

@media all and (max-width: 800px) {
  html {
    position: relative;
    overflow-x: hidden;
    font-size: 85%;
  }
}

@media all and (max-width: 600px) {
  html {
    position: relative;
    overflow-x: hidden;
    font-size: 80%;
  }
}

@media all and (max-width: 450px) {
  html {
    position: relative;
    overflow-x: hidden;
    font-size: 70%;
  }
}

@media all and (max-width: 400px) {
  html {
    position: relative;
    overflow-x: hidden;
    font-size: 62.5%;
  }
}

@media all and (max-width: 330px) {
  html {
    position: relative;
    overflow-x: hidden;
    font-size: 55%;
  }
}

@media all and (max-width: 300px) {
  html {
    position: relative;
    overflow-x: hidden;
    font-size: 48.3%;
  }
}

/* 
===================================================
                        폰트
===================================================
*/
