@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  min-width: 250px;
  background-color: "#f5f6fa";
  margin: 0;
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-snap-type: none;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: 'Spoqa Han Sans Neo', "source-code-pro", "Menlo", "Monaco", "Consolas", "Courier New",
    monospace;
}

html {
  font-size: 62.5%;
}

@media all and (min-width: 1000px) {
  html {
    font-size: 120%;
  }
}

@media all and (min-width: 700px) {
  html {
    font-size: 100%;
  }
}


@media all and (min-width: 360px) {
  html {
    font-size: 75%;
  }
}
/* @media all and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

@media all and (max-width: 700px) {
  html {
    font-size: 40%;
  }
}*/

@media all and (max-width: 300px) {
  html {
    font-size: 55%;
  }
} 
